Code/PersonalTaskManager/TestConsole/Connected Services/TaskReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskService_GetTaskTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTitle" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetTaskTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_SetTaskTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTaskTitle" />
  </wsdl:message>
  <wsdl:message name="ITaskService_SetTaskTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTaskTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskService">
    <wsdl:operation name="GetTaskTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetTaskTitle" message="tns:ITaskService_GetTaskTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetTaskTitleResponse" message="tns:ITaskService_GetTaskTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/SetTaskTitle" message="tns:ITaskService_SetTaskTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/SetTaskTitleResponse" message="tns:ITaskService_SetTaskTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskService" type="tns:ITaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaskTitle">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetTaskTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskTitle">
      <soap:operation soapAction="http://tempuri.org/ITaskService/SetTaskTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port name="BasicHttpBinding_ITaskService" binding="tns:BasicHttpBinding_ITaskService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TaskManagerService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>